<h1>Edit Course</h1>
<form action="/courses/edit/<%= locals.course.id %>" method="POST">

	<h2>Course detail</h2>

	<div><input type='hidden' name='id' value="<%= locals.course.id %>"></div>

	<div class='input-group'>
		<label for="startDateInput">Starting date: </label>
		<input id="startDateInput" class='form-control' name="startDate" type="date" required value="<%=: locals.course.startDate | formatDate %>" /> <br />
	</div>

	<div class='input-group'>
		<label for="endDateInput">Ending date: </label>
		<input id="endDateInput" class='form-control' name="endDate" type="date" required value="<%=: locals.course.endDate | formatDate %>" /> <br />
	</div>

	<div class='input-group'>
		<label for="price">Price </label>
		<input id="price" class='form-control' name="price" type="number" required value="<%= locals.course.price %>" /> <br />
	</div>

	<div class='input-group'>
		<label for="rentPrice">Renting price: </label>
		<input id="rentPrice" class='form-control' name="rentPrice" type="number" required value="<%= locals.course.rentPrice %>" /> <br />
	</div>


	<h2>Contact Person</h2>

	<div class='input-group'>
		<label for="contactPersonName">Name: </label>
		<input id="contactPersonName" class='form-control' name="contactPersonName" type="text" required value="<%= locals.course.contactPerson.name %>" /> <br />
	</div>
	<div class='input-group'>
		<label for="contactPersonSurname">Surname: </label>
		<input id="contactPersonSurname" class='form-control' name="contactPersonSurname" type="text" required value="<%= locals.course.contactPerson.surname %>" /> <br />
	</div>
	<div class='input-group'>
		<label for="contactPersonEmail">Email: </label>
		<input id="contactPersonEmail" class='form-control' name="contactPersonEmail" type="email" required value="<%= locals.course.contactPerson.email %>" /> <br />
	</div>
	<div class='input-group'>
		<label for="contactPersonPhone">Phone: </label>
		<input id="contactPersonPhone" class='form-control' name="contactPersonPhone" type="text" required value="<%= locals.course.contactPerson.phone %>" /> <br />
	</div>

	<input class='btn btn-primary' type="submit"/>

    <a class='btn btn-default' href="/courses">Back</a>
</form>
